pymc
numpy
scikit-learn < 1.6
pandas
numpy
scipy
statsmodels
matplotlib
plotly
kagglehub
jupyter
ipython
dotenv
pyyaml
hdbscan
pyarrow
networkx
geopy
geopandas[all]
geodatasets
PyWavelets
pydot
cvxopt
cvxpy
category-encoders
xgboost
PyNomaly
openpyxl
gower-multiprocessing
jenkspy
skrub
kmds
owlready2
rdflib
importlib-resources